.code{
    background-color: #f3e8ac;
    text-shadow: 0px 0px 10px #9eaec0;/*字体阴影*/
    box-shadow: 0px 0px 5px #888888;/*方框阴影（宽度 高度 模糊度）*/

    border-radius: 10px;/*圆角矩形*/
    min-height: 1em;
    max-width: 820px;
    min-width: 30px; 
}
.highlight{
    padding:0.25em 0em 0.25em 1em;/*填充 上 右 下 左*/
    width: auto;/*自动宽度*/
    height: auto;

    min-height: 1em;
    max-width: 800px;
    min-width: 10px;        
}
.copy_button{
    position: relative;
    float:right;
    right:15px;
    top:15px;

    font-size:13px;
    width:100px;
    height:25px;
    
    filter:alpha(Opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;

    cursor:pointer;
}
span{
    font-family: sans-serif;
    font-size: 14px;

    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
}